<div class="row px-3 pb-0 pt-5">
  <div class="border-right-0 col-5 mt-5 pt-5" style="background-image: url('https://p1.pxfuel.com/preview/924/783/618/alcohol-drink-marble-table-fun-new-year.jpg'); background-size: auto 100%;  height: 78vh;">
    <h3 class="text-center text-muted font-weight-normal">Welcome</h3>
    <p class="text-center text-muted">
      歡迎來到not citiesocial，很高興認識你。</br>
      我們精選超過?個歐美日與人氣募資商品，</br>
      期待你來發現好東西！
    </p>
  </div>
  <div class=" border rounded-right border-left-0 col-7 mt-5 shadow-sm">
    <div class="card-body">
      <div class="pb-5 px-5 row">
        <label class="mt-2 col-6 text-info text-decoration-none text-left">
            <span class="pb-1 px-1 ml-2" style="border-bottom: 3px green solid;">登入</span>
        </label>
        <a class="mt-2 col-6 text-muted text-decoration-none text-right" href="/signup">
          <span class="pb-1 mr-2">註冊</span>
      </a>
      </div>
      <div class="pt-5">
        <form action="/signin" method="POST">
          <div class="form-group border-bottom">
            <input type="email" class='form-control border-0' id="email" name="email" placeholder="電子郵件" required>
          </div>
          <div class="form-group border-bottom">
            <input type="password" class='form-control border-0' id="password" name="password" placeholder="密碼" required>
          </div>
          <button type="submit" class="btn btn-info text-white w-100 mt-4 py-3">登入</button>
          <a href="/auth/facebook"class="btn btn-primary text-white w-100 mt-4 py-3">使用 FACEBOOK 登入</a>
        </form>
      </div>
    </div>
  </div>
  <footer class="col-12 mt-3 mb-5">
    <p class="text-muted text-center">
      登入等同您同意
      <u>not citiesocial服務條款</u>
    </p>
  </footer>
</div>
