body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-round {
  width: 40px;
  height: 40px;
  padding: 7px 10px;
  border-radius: 25px;
  background-color: white;
  font-size: 10px;
  text-align: center;
}

.navbar-show {
  transition: top 0.5s ease;
}

.navbar-hide {
  top: -56px;
  height: 0;
  padding: 0;
  margin: 0;
}

@media (min-height: 786px){
  #list {
    height: 100vh;
  }
}