<body>
  <div style="display: inline-block; min-width: 300px; background-color: white;">
    <h1>您在Not citiesocial的訂單</h1>
    <a href="{{url}}/orders"
         style="margin-top: 5px;">
      <h3>訂單id：{{order.id}}，請至訂單頁面確認</h3>
    </a>
    <h3>總金額：{{order.amount}}</h3>
  </div>
</body>