<div>
  <h4>
    您的訂閱需求已被確認，以下註冊資訊供您留存：
  </h4>
  <h5>Email: {{email}}</h5>
  <p>
    註：因為本站只是示範專案，未來並不會真的寄送電子報！
  </p>
  <br />
  <p>若您希望停止接收我們的電子郵件，您可以:</p>
  <a href="{{url}}/unsubscribe?email={{email}}">請按這裡取消訂閱</a>
</div>